<div class="row">
    <h1>Experiencia Laboral </h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
        <li><h1>Trabajo 1</h1>-<h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime maiores eius asperiores sint facilis quis sunt, iusto, sit assumenda amet perferendis exercitationem quam inventore earum necessitatibus harum corrupti nostrum officia        </p>
        </ul>
        <ul>
            <li><h1>Trabajo 2</h1>-<h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime maiores eius asperiores sint facilis quis sunt, iusto, sit assumenda amet perferendis exercitationem quam inventore earum necessitatibus harum corrupti nostrum officia        </p>
        </ul>
        <ul>
            <li><h1>Trabajo 3</h1>-<h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime maiores eius asperiores sint facilis quis sunt, iusto, sit assumenda amet perferendis exercitationem quam inventore earum necessitatibus harum corrupti nostrum officia        </p>
        </ul> 
    </div>
</div>